/*FOR INPUT STYLING REFER TO REGISTRATION-form STYLESHEET*/

.foaas {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fuButton {
    margin-top: 30px;
}
h1 {
    text-align: center;
    overflow-x: hidden;
}
.inputArea {
    display: flex;
    flex-direction: row;
    display: inline-block;
    width: 70%;
    margin: auto;
    align-items: space-between;
}
/*for the phones*/
@media screen and (max-width: 510px) {
    h1 {
        font-size: 40px;
    }
}
/* for tablets */
@media screen and (min-width: 510px) {
    h1 {
        font-size: 80px;
    }
}
/* for computers */
@media screen and (min-width: 1400px) {
    h1 {
        font-size: 80px;
    }
}