a.action {
  color: black;
  background-color: #38ef7d;
  font-family: 'Permanent Marker', cursive;
}
button {
  font-size: 24px;
  display: block;
  margin: auto;
}
.buttonSpace {
  margin-top: 30px;
}
.form-group {
    margin: auto;
    /* padding-bottom: 50px; */
}
label {
  display: block;
  margin: auto;
  width: 100%;
  transition: 0.2s;
  color: #11998e;
  text-align: left;
} 
.registration, .login {
    /* background-color: gray; */
    display: inline-block;
    width: 100%;
    font-size: 24px;
    margin: auto;
    text-align: center;
}
.registration__button__group, .login__button__group {
  margin-top: 70px;
}
.registration__button, .login__button {
  margin-top: 20px;
}
.registration__control {
  font-family: inherit;
  margin-top: 10px;
  border: 0;
  width: 100%;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.registration__control:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  } 
.registration__hint {
   font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    color: #11998e;
    margin-top: 7px;
}

/*for the phones*/
@media screen and (max-width: 510px) {
  a.action {
    margin-top: 20px;
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
  }
  .form-group {
      width: 90%;
  }
  .registration__hint{
    margin-top: 7px;
  }
}
/* for tablets */
@media screen and (min-width: 510px) {
  a.action {
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
  }
  .form-group {
    width: 70%;
  }
}
/* for computers */
@media screen and (min-width: 1400px) {
  a.action {
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
  }
  .form-group {
    width: 60%;
  }
}
