p {
    font-size: 24px;
}
.personalNotes {
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-bottom: 30px;
    /* margin: auto; */
    list-style-type: none;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: block;
}
.date {
    color:#11998e;
    font-style: oblique;
    /* align-self: flex-end; */
}
button.liButton {
    align-self: flex-end;
    margin: 0 10px 0 0;
    background-color: red;
    display: inline-block;
}
ul {

    width: 80%;
    margin: auto;
    padding: 0;
}