.personalNotes {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 30px;
    list-style-type: none;
    padding: 15px;
    /* display: flex;
    flex-direction: row;
    display: inline-block; */
}
.date {
    color:aqua;
    /* align-self: flex-end; */
}